.reveal section p {
    font-size: 0.85em !important;
}

.reveal section li {
    font-size: 0.85em !important;
}

.reveal code {
	font-size: 0.9em;
	background-color: #eeeeee;
}

.reveal pre code {
	padding: 5px;
	overflow: auto;
	max-height: 650px;
	word-wrap: normal;
	font-size: 0.9em;
	background-color: white;
}

#left {
	left:-8.33%;
	text-align: left;
	float: left;
	width:50%;
	z-index:-10;
}
  
#right {
	left:31.25%;
	top: 75px;
	float: right;
	text-align: right;
	z-index:-10;
	width:45%;
}

#rightleft {
	left:31.25%;
	top: 75px;
	float: right;
	text-align: left;
	z-index:-10;
	width:40%;
}